<header class="d-none d-md-flex">
	<div
		class="list-group list-group-horizontal d-flex justify-content-between container-fluid"
		id="barra-header-superior"
	>
		<a href="/">
			<img
				src="/imagenes/others/logo.png"
				class="border border-0 p-3"
				style="width: 200px"
				alt="Logo"
			/>
		</a>
		<ul class="list-group list-group-horizontal">
			<% if (locals.isLogged) { %>
			<li class="btn-group border border-0 py-2">
				<button
					type="button"
					class="btn dropdown-toggle"
					data-bs-toggle="dropdown"
					aria-expanded="false"
				>
					<%= locals.userLogged.nombre %>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a href="/users/perfil" class="dropdown-item"> Mi perfil </a>
					</li>
					<% if (locals.userLogged.admin) { %>
					<li>
						<a href="/products/creacionProducto" class="dropdown-item">
							Nuevo producto
						</a>
					</li>
					<li>
						<a
							href="https://dashboard-allsports-dh.onrender.com/"
							target="_blank"
							class="dropdown-item"
							>Dashboard</a
						>
					</li>
					<% } %>
					<li><hr class="dropdown-divider" /></li>
					<li>
						<a href="/users/logout" class="cerrar dropdown-item">
							Cerrar sesión
						</a>
					</li>
				</ul>
			</li>
			<% } else { %>
			<li class="list-group-item row border border-0 pt-0">
				<a
					href="/users/login"
					class="list-group-item list-group-item-action border border-0 pt-3"
				>
					Ingresar/Registrarse
				</a>
			</li>
			<% } %>

			<li class="list-group-item border border-0 fs-2 pt-0">
				<a
					href="/carrito"
					type="button"
					class="btn btn-outline-secondary position-relative"
				>
					<i class="bi bi-cart4"></i>
					<% if (locals.isLogged) { %>
					<span
						class="botonCarrito position-absolute top-0 start-100 translate-middle p-2 rounded-circle"
					></span>
					<% } %>
				</a>
			</li>
		</ul>
	</div>
</header>
